.icon-card {
    background: #fff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    height: 150px;
    width: 150px;
    
   
  }

  img{
    max-width: 100%;
    max-height: 100%;
    align-content: center;

  }
  
  
  
  
  