.homeComponent{
    background: url(./banner.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 667px;
    
}

.overlay{
    min-height: 667px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255));
    z-index:1;

}