

.container {
    max-width: 100%;
    
}

.homeComponent{
    /* background: url(./banner.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    background-image: linear-gradient(to top, rgb(53, 73, 92), rgb(16, 23, 29), rgb(16, 23, 29));
    min-height: 670;
    z-index: 1;
    overflow: auto;
    

    
}
.homeLogo{
    width:100px;
    height:100px;
}

/* .overlay {
    min-height: 667px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(15, 14, 14));
    z-index: 2;
} */





h1, h2,p{
    text-align: center;
    color: white;
    
}

h2{
    font-weight: lighter;
}

.homeHeader{
    color: white;
}