.message-window {
    height: 100%;
    overflow: auto;
}

.message-list {
    background-color: #f5f5f5;
    padding-right: 20px;
    padding-top: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

/* CHAT STYLES */

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.msg_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 10px;
}