.uploadImg-bg {
    background-image: linear-gradient(to top, rgb(53, 73, 92), rgb(16, 23, 29), rgb(16, 23, 29));
    height: 100vh;
    
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

img{
    width: 100px;
    margin-bottom: 10px;
    border-style: ridge;
}

.ml-2{
    color: white;
    border-style: solid;
    border-width: thin;
}

.uploadBtn{
   
    margin-top: 10px;

}