.navbar{
    display: flex;
    justify-content: center;
    background-color:rgba(16, 23, 29, 0.89);
    color: white;
    z-index: 3;
}

.nav-link{
    color:rgb(151, 150, 150)!important;
}

.nav-link-active {
    color:white!important;
}